/* DisplayQues.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* span{
    text
} */
.question {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
}

.question h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.question p {
    font-size: 14px;
    margin-bottom: 10px;
}

.answer {
    font-size: 14px;
    color: #666;
}

.answer p {
    margin-bottom: 5px;
}

.answer span {
    font-weight: bold;
}

button {
    background-color: #007bff !important;
    color: #fff !important;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3   !important;
}

/* AddQuestion.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Heading styles */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styles */
.form {
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
}
textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
}
button:hover {
    background-color: #555;
}

div{
    white-space: pre-wrap;
}

.opt{
    display: flex;
    flex-flow: wrap;
    justify-content:space-between;
}